*{
    padding: 0%;
    margin:0;
}
main{
    background-image: linear-gradient(to bottom right,black,#121448)!important;
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    color: aliceblue;
    font-family: sans-serif;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 2rem;
}
.adp{
    color: #121448;
    font-size: 60px;
}
.font{
    display:flex;
    align-items: center;
    height:calc(100%-20%);
    width: 60%;
    padding: 2.5rem;
    gap:2rem;
}

.text{
    padding:4rem;
    margin:auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: 100px;
    cursor: pointer;

}
.show{
    transform: translate(0);
}
.sidebar{
    background-color: red;
    width:100vh;
    height: 100vw;
    position:fixed;
    transition: all 0.8s ease-in-out;
    transform: translateX(-100%);
}
.bar{
    transition:all 0.3s;
    background-color: antiquewhite;
    width: 100%;
    height: 1.5px;
    transform-origin: center;

}
.hide{
 transform: translate(0) rotate(0)!important;
 transform: translate(0) rotate(0)!important;   

}
.bar3-style{
    transform: rotate(-135deg) translate(8px);
    width: 50px;
}
.bar1-style{
   transform: rotate(135deg) translate(7px);
   width: 50px;
}
.bar2-style{
    display: none  ;
 }